<a href="https://colab.research.google.com/github/beka-chanturia/traiding/blob/main/portfolio_optimization_2_assets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.67)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.7.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)

In [59]:
import yfinance as yf
import datetime as dt
import pandas as pd
import numpy as np

In [58]:
symbols = ['GOOG', 'CAT']
df = yf.download(symbols, start='2005-01-01', end='2015-01-01', interval='1mo')['Adj Close'].dropna()

[*********************100%***********************]  2 of 2 completed

In [57]:
df

            GOOG_Ret  CAT_Ret
Date
2005-02-01    -0.039    0.071
2005-03-01    -0.040   -0.038
2005-04-01     0.219   -0.037
2005-05-01     0.260    0.074
2005-06-01     0.061    0.013
...              ...      ...
2014-08-01     0.000    0.089
2014-09-01     0.010   -0.092
2014-10-01    -0.032    0.024
2014-11-01    -0.031   -0.000
2014-12-01    -0.028   -0.090

[119 rows x 2 columns]

# **Add return columns**

In [51]:
start_price = 100
end_price = 120
profit = end_price / start_price - 1
profit

0.19999999999999996

In [63]:
def add_retun_columns(symbols):
  pd.options.display.float_format = '{:.3f}'.format
  for symbol in symbols:
    
    #start price / end price - 1
    df[f'{symbol}_Ret'] = df[symbol] / df[symbol].shift(1) - 1

In [64]:
add_retun_columns(symbols)
#აქ ხან მიერორებს ხან სწორიაო და რანავს ვერ ვხვდები რა ხდება

In [65]:
df.dropna()

              CAT    GOOG  GOOG_Ret  CAT_Ret
Date
2005-02-01 30.551  93.644    -0.039    0.071
2005-03-01 29.391  89.918    -0.040   -0.038
2005-04-01 28.301 109.589     0.219   -0.037
2005-05-01 30.390 138.117     0.260    0.074
2005-06-01 30.778 146.526     0.061    0.013
...           ...     ...       ...      ...
2014-08-01 87.975 570.035     0.000    0.089
2014-09-01 79.877 575.779     0.010   -0.092
2014-10-01 81.797 557.549    -0.032    0.024
2014-11-01 81.762 540.346    -0.031   -0.000
2014-12-01 74.390 524.959    -0.028   -0.090

[119 rows x 4 columns]

In [66]:
df = df[['GOOG_Ret', 'CAT_Ret']].dropna()
df.corr()

          GOOG_Ret  CAT_Ret
GOOG_Ret     1.000    0.196
CAT_Ret      0.196    1.000

# **Standard Deviation**

In [ ]:
prices = df['CAT_Ret'][:5]

In [ ]:
prices

Date
2005-02-01    0.071
2005-03-01   -0.038
2005-04-01   -0.037
2005-05-01    0.074
2005-06-01    0.013
Name: CAT_Ret, dtype: float64

In [ ]:
prices.std()

0.0551357363909386

STD: step 1

In [ ]:
prices_sum = sum(prices)

In [ ]:
prices_sum

0.08299076257010596

In [ ]:
mean = prices_sum / 5

In [ ]:
mean

0.01659815251402119

Std: step 2

In [ ]:
deviation_from_the_mean = prices - mean

In [ ]:
deviation_from_the_mean

Date
2005-02-01    0.055
2005-03-01   -0.055
2005-04-01   -0.054
2005-05-01    0.057
2005-06-01   -0.004
Name: CAT_Ret, dtype: float64

STD: step 3

In [ ]:
deviation_squares = deviation_from_the_mean ** 2

In [ ]:
deviation_squares

Date
2005-02-01   0.003
2005-03-01   0.003
2005-04-01   0.003
2005-05-01   0.003
2005-06-01   0.000
Name: CAT_Ret, dtype: float64

STD: step 4

In [ ]:
sum_of_squares = sum(deviation_squares)

In [ ]:
sum_of_squares

0.012159797709484282

STD: step 5

In [ ]:
variance =  sum_of_squares / (5 - 1)

In [ ]:
variance

0.0030399494273710705

STD: step 6

In [ ]:
stdv = np.sqrt(variance)

In [ ]:
stdv

0.0551357363909386

# **Create Stat-Board**

In [67]:
def stat_board(symbols):
  columns = [
      'annualized_mean_return',
      'annualized_std',
      'sharp_ratio'
  ]
  board = pd.DataFrame(index=columns)
  for symbol in symbols:
    board[symbol] = [
        df[f'{symbol}_Ret'].mean() * 12,
        df[f'{symbol}_Ret'].std() * np.sqrt(12),
        (df[f'{symbol}_Ret'].mean() * 12) / (df[f'{symbol}_Ret'].std() * np.sqrt(12))
        ]

  return board

In [68]:
stat_board(symbols)

                        GOOG   CAT
annualized_mean_return 0.220 0.155
annualized_std         0.319 0.337
sharp_ratio            0.690 0.460

In [69]:
board = stat_board(symbols)

# **Create Portfolio Board**

In [73]:
w = [0.5 , 0.5]
mean = board[symbols[0]].annualized_mean_return * w[0] + board[symbols[1]].annualized_mean_return * w[1]
cov = df[f'{symbols[0]}_Ret'].cov(df[f'{symbols[1]}_Ret'])
std = np.sqrt(
    w[0]**2 *board[symbols[0]].annualized_std**2 +
    w[1]**2 *board[symbols[1]].annualized_std**2 +
    2 * w[0] * w[1] * cov
)
sr = mean / std 
sr

def portfolio_board(symbols):
  print('Portfolio Weights: \n', w)
  columns = [
      'portfolio_annualized_mean',
      'portfolio_annualized_std',
      'portfolio_sharp_ratio'
  ]
  portfolio_board = pd.DataFrame(index=columns) 
  portfolio_board['Portfolio Stat'] = [
      mean,
      std,
      sr
  ]
  
  print(portfolio_board)

In [71]:
std

0.23363150203659652

In [72]:
portfolio_board(symbols)

Portfolio Weights:
 [0.5, 0.5]
                           Portfolio Stat
portfolio_annualized_mean           0.187
portfolio_annualized_std            0.234
portfolio_sharp_ratio               0.802